# Learning

In [6]:
import pandas as pd
import numpy as np

## Step 1: Import

In [7]:
df = pd.read_csv("chipotle.tsv", sep="\t")
df.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

## Step 2: Dataset Overview

In [7]:
df.shape

(4622, 5)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [9]:
list(df.columns)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [10]:
df.index

RangeIndex(start=0, stop=4622, step=1)

In [12]:
df.describe(include='all')

           order_id     quantity     item_name choice_description item_price
count   4622.000000  4622.000000          4622               3376       4622
unique          NaN          NaN            50               1043         78
top             NaN          NaN  Chicken Bowl        [Diet Coke]     $8.75
freq            NaN          NaN           726                134        730
mean     927.254868     1.075725           NaN                NaN        NaN
std      528.890796     0.410186           NaN                NaN        NaN
min        1.000000     1.000000           NaN                NaN        NaN
25%      477.250000     1.000000           NaN                NaN        NaN
50%      926.000000     1.000000           NaN                NaN        NaN
75%     1393.000000     1.000000           NaN                NaN        NaN
max     1834.000000    15.000000           NaN                NaN        NaN

### loc vs iloc

In [10]:
df.loc[df.quantity == 15, ['order_id', 'quantity', 'item_name']]

      order_id  quantity                     item_name
3598      1443        15  Chips and Fresh Tomato Salsa

In [12]:
df.iloc[[9]]

,order_id,quantity,item_name,choice_description,item_price
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [13]:
df.iloc[3:11]

,order_id,quantity,item_name,choice_description,item_price
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45

In [15]:
x = df.iloc[3:5, :-1]
y = df.iloc[3:5, -1]
print(y)

3     $2.39
4    $16.98
Name: item_price, dtype: object

### Data Munipulation

In [36]:
df.item_price.dtype

dtype('float64')

In [40]:
df.item_price = df.item_price.astype(str).str.replace('$', '').astype(float)

In [41]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [43]:
df["total_price"] = df["quantity"] * df["item_price"]

In [44]:
df.head()

,order_id,quantity,item_name,choice_description,item_price,total_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

### How much was revenue for the period in dataset?

In [45]:
revenue = df["total_price"].sum()
print(revenue)

39237.02

### Which was the most-ordered item?

#### Group By

In [52]:
# Tính tổng và sắp xếp
c = df.groupby("item_name")["quantity"].sum().sort_values(ascending=False)

# Hiển thị kết quả
print("Số lượng bán của từng món:")
for item, quantity in c.items():
    print(f"{item}: {quantity}")

Số lượng bán của từng món:
Chicken Bowl: 761
Chicken Burrito: 591
Chips and Guacamole: 506
Steak Burrito: 386
Canned Soft Drink: 351
Chips: 230
Steak Bowl: 221
Bottled Water: 211
Chips and Fresh Tomato Salsa: 130
Canned Soda: 126
Chicken Salad Bowl: 123
Chicken Soft Tacos: 120
Side of Chips: 110
Veggie Burrito: 97
Barbacoa Burrito: 91
Veggie Bowl: 87
Carnitas Bowl: 71
Barbacoa Bowl: 66
Carnitas Burrito: 60
Steak Soft Tacos: 56
6 Pack Soft Drink: 55
Chicken Crispy Tacos: 50
Chips and Tomatillo Red Chili Salsa: 50
Chips and Tomatillo Green Chili Salsa: 45
Carnitas Soft Tacos: 40
Steak Crispy Tacos: 36
Chips and Tomatillo-Green Chili Salsa: 33
Steak Salad Bowl: 31
Nantucket Nectar: 29
Chips and Tomatillo-Red Chili Salsa: 25
Barbacoa Soft Tacos: 25
Chips and Roasted Chili Corn Salsa: 23
Izze: 20
Veggie Salad Bowl: 18
Chips and Roasted Chili-Corn Salsa: 18
Barbacoa Crispy Tacos: 12
Barbacoa Salad Bowl: 10
Chicken Salad: 9
Carnitas Crispy Tacos: 8
Veggie Soft Tacos: 8
Burrito: 6
Carnitas Salad Bowl: 6
Veggie Salad: 6
Bowl: 4
Steak Salad: 4
Salad: 2
Crispy Tacos: 2
Carnitas Salad: 1
Chips and Mild Fresh Tomato Salsa: 1
Veggie Crispy Tacos: 1

### Unique Value

In [56]:
df.item_name.value_counts().count()

np.int64(50)

In [57]:
df.item_name.nunique()

50